:host {
  .app-logo {
    height: 50px;
    mix-blend-mode: multiply;
  }

  .app-header {
    height: 100%;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .app-title {
    color: rgb(23, 30, 96);
    font-size: 1.5em;
    margin-right: 20px;
    margin-bottom: 0;
  }
}




