.container-fluid {
  height: 595px;
  background-image: url('/assets/images/liceumzoomout.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.btn-login {
  height: 50px;
  width: 220px;
  font-size: 18px;
  background-color: #106da1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #0f6493;
}
