:host {
  .simple-dialog {
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    .dialog-header {
      color: black;
      padding: 20px;
      text-align: center;

      h1.text {
        margin: 0;
      }
    }

    .dialog-body {
      padding: 20px;

      table.table-content {
        width: 100%;
        border-collapse: collapse;

        thead {
          tr {
            th {
              text-align: center;
              padding: 8px;
              border-bottom: 1px solid #ccc;
              background-color: #f4f4f4;
            }
          }
        }

        tbody {
          tr {
            td {
              text-align: center;
              padding: 8px;
              border-bottom: 1px solid #ccc;

              .delete-grade {
                text-align: center;
                height: 40px;
                line-height: 40px;
                background-color: #ff0505;
                color: white;
                border: none;
                padding: 6px 8px;
                border-radius: 4px;
                cursor: pointer;

                .icon {
                  margin: auto;
                }

                &:hover {
                  background-color: darken(#ff0505, 10%);
                }
              }
            }
          }
        }
      }
    }
  }
}