<div class="simple-dialog">
  <header class="dialog-header">
    <h1 class="text">Uczniowie</h1>
  </header>
  <div class="dialog-body">
    <table class="table-content">
      <thead>
      <tr>
        <th>Wartość</th>
        <th>Data wystawienia</th>
        <th>Przedmiot</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of grades">
        <td>{{ element['gradeValue'] }}</td>
        <td>{{ element['dateOfModification'] }}</td>
        <td>{{ element['subjectName'] }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>