
:host {
  footer {
    display: flex;
    align-items: center;
    height: 100%;
    background: #f4f4f4;
    padding: 10px;
    place-content: flex-end;
    text-align: right;

    .footer-section {
      padding-right: 20px;

      a {
        color: #5d87ad;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin: 4px 0;
      }
    }
  }
}
