
:host {
  footer {
    background: #f4f4f4;
    padding: 10px;
    text-align: right;
  }

  .footer-content {
    display: flex;
    justify-content: flex-end;
  }

  .footer-section {
    padding-right: 20px;
  }

  .footer-section a {
    color: #5d87ad;
    text-decoration: none;
  }

  .footer-section a:hover {
    text-decoration: underline;
  }

  .footer-section p {
    margin: 4px 0;
  }
}
