:host {
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    app-header {
      display: block;
      height: 10vh;
    }

    main {
      flex-grow: 1;
    }

    app-footer {
      height: 10vh;

    }
  }
}

