<div class="grades-container">
  <table class="grades-table">
    <thead>
    <tr>
      <th (click)="onSort('gradeValue')">Ocena <span class="sort-icon">↕</span></th>
      <th (click)="onSort('dateOfModification')">Data wystawienia <span class="sort-icon">↕</span></th>
      <th (click)="onSort('subjectName')">Przedmiot <span class="sort-icon">↕</span></th>
      <th (click)="onSort('teacherFirstName')">Nauczyciel <span class="sort-icon">↕</span></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let grade of grades">
      <td>{{ grade.gradeValue }}</td>
      <td>{{ grade.dateOfModification | date: 'dd/MM/yyyy' }}</td>
      <td>{{ grade.subjectName }}</td>
      <td>{{ grade.teacherFirstName }} {{ grade.teacherLastName }}</td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="grades.length === 0" class="no-grades">
    Brak ocen do wyświetlenia.
  </div>
</div>
