:host {
  .simple-dialog {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto 0 auto;
    padding: 20px;
    text-align: center;

    .dialog-header {
      margin-bottom: 20px;

      img {
        max-height: 128px;
        max-width: 128px;
        border-radius: 50%;
        margin-bottom: 15px;
      }

      h1.text {
        font-size: 24px;
        color: #005f73;
        margin: 0;
      }
    }

    .dialog-body {
      display: flex;
      align-items: center;
      flex-direction: column;

      .go-back {
        display: flex;
        place-content: center;
        align-self: flex-start;
        background: none;
        color: #003a79;
        outline: none;
        border: none;
        margin-left: 10px;
        margin-bottom: 20px;

        &:hover {
          text-decoration: underline;
        }
      }

      ng-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        show-profile-data, change-profile-data {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .edit-button {
        align-self: center;
        padding: 10px 20px;
        width: 300px;
        border: none;
        border-radius: 4px;
        background-color: #005f73;
        color: white;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
          background-color: darken(#005f73, 10%);
        }
      }
    }
  }
}
