<section class="simple-dialog">
  <header class="dialog-header">
    <img src="assets/images/user-profile.png" alt="User photo">
    <h1 class="text">User profile</h1>
  </header>
  <div class="dialog-body">
    <button class="go-back" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      <span>Wstecz</span>
    </button>
    <ng-container *ngIf="isShowMode()">
      <show-profile-data [profileData]="profileData"></show-profile-data>
      <button class="change-data" (click)="navigate()">Edytuj Profil</button>
    </ng-container>
    <ng-container *ngIf="isChangeMode()">
      <change-profile-data [userData]="profileData" (updateData$)="updateData($event)"></change-profile-data>
    </ng-container>
  </div>
</section>

