<div class="navbar justify-content-center">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="navigateToProfile()">Twój profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'grades'">Oceny</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'teachers'">Nauczyciele</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'attendances'">Obecności</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'myclass'">Moja klasa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/student/schedule">Plan lekcji</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/student/library">Biblioteka</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/student/announcements">Ogłoszenia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/student/settings">Ustawienia</a>
    </li>
  </ul>
</div>
