:host {
  height: 80vh;
  display: flex;
  align-items: center;
  place-content: center;

  h1 {
    text-align: center;
  }

  .divider {
    height: 3px;
    width: 100px;
    background-color: #5f85bb;
    border: 1px solid #879abd;
    border-radius: 3px;
    margin: 10px 0;
  }

  .row {
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;

    .col-4 {
      width: 600px;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      padding: 20px;
      background: #f4f4f4;
    }

    .nav-pills .nav-link {
      border: none;
      background-color: #fff;
      color: #3498db;
      padding: 12px 15px;
      text-align: center;
      cursor: pointer;
    }

    .nav-pills .nav-link.active {
      background-color: #3498db;
      color: #fff;
    }

    .btn {
      width: 100%;
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      background-color: #3498db;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      background-color: #2e86be;
    }

    .input-group-text {
      cursor: pointer;
    }

    .input-group-text:hover {
      background-color: #f8f3f3;
    }
  }
}