<div class="body">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="tab-content">
        <div [ngClass]="active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'">
          <form (ngSubmit)="submit()" #loginForm="ngForm">

            <div class="form-outline mb-4">
              <input id="loginName" name="login" class="form-control" [(ngModel)]="login"/>
              <label class="form-label" for="loginName">Login</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password"/>
              <label class="form-label" for="loginPassword">Hasło</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Zaloguj się</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

