:host {
  .navbar {
    ul {
      li {
        display: flex;

        .nav-link {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}