<section class="simple-dialog">
  <header class="dialog-header">
    <img src="assets/images/user-profile.png" alt="User photo">
    <h1 class="text">User profile</h1>
  </header>
  <div class="dialog-body">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-md-6">
          <label>First name</label>
          <p>{{profileData.firstName}}</p>
        </div>
        <div class="col-md-6">
          <label>Second name</label>
          <p>{{profileData.secondName}}</p>
        </div>
        <div class="col-md-6">
          <label>Login</label>
          <p>{{profileData.login}}</p>
        </div>
        <div class="col-md-6">
          <label>Password</label>
          <p>{{profileData.password}}</p>
        </div>
        <div class="col-md-6">
          <label>Email</label>
          <p>{{profileData.email}}</p>
        </div>
        <div class="col-md-6">
          <label>Date of birth</label>
          <p>{{profileData.dateOfBirth}}</p>
        </div>
      </div>
    </div>
    <button class="change-data">Edit Profile</button>
  </div>
</section>

