:host {
  .simple-dialog {
    display: block;

    .dialog-header {
      display: flex;
      align-items: center;
      height: 200px;
      width: 100%;
      padding: 32px 185px 32px;
      background: #f4f4f4;

      img {
        width: 100px;
        height: auto;
        margin-right: 20px;
      }

      .text {
        font-size: 42px;
        font-weight: 300;
      }
    }

    .dialog-body {
      padding: 32px 185px 36px;

      h2 {
        margin-bottom: 20px;
      }

      label {
        color: #525252;
        font-size: 15px;
        margin-bottom: 2px;
        font-weight: 700;
      }

      p {
        color: #525252;
        font-size: 15px;
        margin-bottom: 5px;
      }

      .change-data {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;

        &:focus {
          transform: translateY(-2px);
          outline: none;
        }

        &:active {
          transform: translateY(2px);
        }
      }


    }
  }
}
