:host {
  .container-fluid {
    .navbar {
      border-radius: 5px;
      display: flex;
      place-content: center;
      align-items: center;

      button {
        background: #335990;
        position: absolute;
        right: 0;
        margin-right: 20px;
      }

    }
  }

  .dialog-body {
    width: 100%;
    margin: 0 auto;
    padding: 0 250px;
  }
}

