:host {
  .container-fluid {
    .navbar {
      .container-fluid {
        ul {
          margin-left: 118px;

          li {
            .nav-link {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .col-md-12{
    height: 520px;
  }
}

