<div class="simple-dialog">
  <header class="dialog-header">
    <h1 class="text">Uczniowie</h1>
  </header>
  <div class="dialog-body"
       *ngIf="{items: tableItems$ | async} as table">
    <table class="table-content">
      <thead>
      <tr>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Klasa</th>
        <th>Zobacz oceny</th>
        <th>Dodaj ocene</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of table.items">
        <td>{{ element.data['firstName'] }}</td>
        <td>{{ element.data['lastName'] }}</td>
        <td>{{ element.data['className'] }}</td>
        <td>
          <button class="view-grades"
                  (click)="element.deleteAction()">Zobacz oceny
          </button>
        </td>
        <td>
          <button class="add-grades"
                  (click)="element.addAction()">dodaj ocene
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
